In [35]:
import pandas as pd
import numpy as np

In [36]:
data = pd.read_csv('supermarket_sales.csv')
data.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [38]:
for column in data.columns:
    print(f'======= {column} =======')
    display(data[column].value_counts())
    print()

======= Invoice ID =======

750-67-8428    1
642-61-4706    1
816-72-8853    1
491-38-3499    1
322-02-2271    1
              ..
633-09-3463    1
374-17-3652    1
378-07-7001    1
433-75-6987    1
849-09-3807    1
Name: Invoice ID, Length: 1000, dtype: int64

======= Branch =======

A    340
B    332
C    328
Name: Branch, dtype: int64

======= City =======

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

======= Customer type =======

Member    501
Normal    499
Name: Customer type, dtype: int64

======= Gender =======

Female    501
Male      499
Name: Gender, dtype: int64

======= Product line =======

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

======= Unit price =======

83.77    3
39.62    2
24.74    2
19.15    2
73.47    2
        ..
57.95    1
47.65    1
42.82    1
48.09    1
88.34    1
Name: Unit price, Length: 943, dtype: int64

======= Quantity =======

10    119
1     112
4     109
7     102
5     102
6      98
9      92
2      91
3      90
8      85
Name: Quantity, dtype: int64

======= Tax 5% =======

10.3260    2
4.4640     2
4.1540     2
9.0045     2
22.4280    2
          ..
7.2135     1
19.5895    1
26.9150    1
24.2575    1
30.9190    1
Name: Tax 5%, Length: 990, dtype: int64

======= Total =======

216.8460    2
93.7440     2
87.2340     2
189.0945    2
470.9880    2
           ..
151.4835    1
411.3795    1
565.2150    1
509.4075    1
649.2990    1
Name: Total, Length: 990, dtype: int64

======= Date =======

2/7/2019     20
2/15/2019    19
3/14/2019    18
3/2/2019     18
1/8/2019     18
             ..
1/4/2019      6
2/28/2019     6
2/21/2019     6
3/17/2019     6
2/1/2019      6
Name: Date, Length: 89, dtype: int64

======= Time =======

19:48    7
14:42    7
17:38    6
17:16    5
11:40    5
        ..
13:26    1
11:17    1
14:57    1
17:53    1
19:12    1
Name: Time, Length: 506, dtype: int64

======= Payment =======

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

======= cogs =======

206.52    2
89.28     2
83.08     2
180.09    2
448.56    2
         ..
144.27    1
391.79    1
538.30    1
485.15    1
618.38    1
Name: cogs, Length: 990, dtype: int64

======= gross margin percentage =======

4.761905    1000
Name: gross margin percentage, dtype: int64

======= gross income =======

10.3260    2
4.4640     2
4.1540     2
9.0045     2
22.4280    2
          ..
7.2135     1
19.5895    1
26.9150    1
24.2575    1
30.9190    1
Name: gross income, Length: 990, dtype: int64

======= Rating =======

6.0     26
6.6     24
4.2     22
9.5     22
6.5     21
        ..
4.0     11
5.3     11
8.3     11
4.6      8
10.0     5
Name: Rating, Length: 61, dtype: int64

In [39]:
data.duplicated().sum()

0

In [40]:
data['Date'] = pd.to_datetime(data['Date'])
data['Days'] = data['Date'].dt.day
data['Month'] = data['Date'].dt.month
data['Years'] = data['Date'].dt.year
data.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Days,Month,Years
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,5,1,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,8,3,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,3,3,2019
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4,27,1,2019
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3,8,2,2019
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,18:30,Ewallet,597.73,4.761905,29.8865,4.1,25,3,2019
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2019-02-25,14:36,Ewallet,413.04,4.761905,20.6520,5.8,25,2,2019
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2019-02-24,11:38,Ewallet,735.60,4.761905,36.7800,8.0,24,2,2019
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2019-01-10,17:15,Credit card,72.52,4.761905,3.6260,7.2,10,1,2019
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2019-02-20,13:27,Credit card,164.52,4.761905,8.2260,5.9,20,2,2019

In [41]:
for column in data.columns:
    print(f'======= {column} =======')
    display(data[column].value_counts())
    print()

======= Invoice ID =======

750-67-8428    1
642-61-4706    1
816-72-8853    1
491-38-3499    1
322-02-2271    1
              ..
633-09-3463    1
374-17-3652    1
378-07-7001    1
433-75-6987    1
849-09-3807    1
Name: Invoice ID, Length: 1000, dtype: int64

======= Branch =======

A    340
B    332
C    328
Name: Branch, dtype: int64

======= City =======

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

======= Customer type =======

Member    501
Normal    499
Name: Customer type, dtype: int64

======= Gender =======

Female    501
Male      499
Name: Gender, dtype: int64

======= Product line =======

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

======= Unit price =======

83.77    3
39.62    2
24.74    2
19.15    2
73.47    2
        ..
57.95    1
47.65    1
42.82    1
48.09    1
88.34    1
Name: Unit price, Length: 943, dtype: int64

======= Quantity =======

10    119
1     112
4     109
7     102
5     102
6      98
9      92
2      91
3      90
8      85
Name: Quantity, dtype: int64

======= Tax 5% =======

10.3260    2
4.4640     2
4.1540     2
9.0045     2
22.4280    2
          ..
7.2135     1
19.5895    1
26.9150    1
24.2575    1
30.9190    1
Name: Tax 5%, Length: 990, dtype: int64

======= Total =======

216.8460    2
93.7440     2
87.2340     2
189.0945    2
470.9880    2
           ..
151.4835    1
411.3795    1
565.2150    1
509.4075    1
649.2990    1
Name: Total, Length: 990, dtype: int64

======= Date =======

2019-02-07    20
2019-02-15    19
2019-03-14    18
2019-03-02    18
2019-01-08    18
              ..
2019-01-04     6
2019-02-28     6
2019-02-21     6
2019-03-17     6
2019-02-01     6
Name: Date, Length: 89, dtype: int64

======= Time =======

19:48    7
14:42    7
17:38    6
17:16    5
11:40    5
        ..
13:26    1
11:17    1
14:57    1
17:53    1
19:12    1
Name: Time, Length: 506, dtype: int64

======= Payment =======

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

======= cogs =======

206.52    2
89.28     2
83.08     2
180.09    2
448.56    2
         ..
144.27    1
391.79    1
538.30    1
485.15    1
618.38    1
Name: cogs, Length: 990, dtype: int64

======= gross margin percentage =======

4.761905    1000
Name: gross margin percentage, dtype: int64

======= gross income =======

10.3260    2
4.4640     2
4.1540     2
9.0045     2
22.4280    2
          ..
7.2135     1
19.5895    1
26.9150    1
24.2575    1
30.9190    1
Name: gross income, Length: 990, dtype: int64

======= Rating =======

6.0     26
6.6     24
4.2     22
9.5     22
6.5     21
        ..
4.0     11
5.3     11
8.3     11
4.6      8
10.0     5
Name: Rating, Length: 61, dtype: int64

======= Days =======

15    44
25    42
5     41
19    41
8     41
2     40
26    39
14    39
7     38
27    38
9     37
3     36
23    36
20    35
6     33
24    33
10    32
12    31
17    30
28    30
4     29
13    28
1     28
22    28
16    27
11    27
18    23
21    20
29    20
30    20
31    14
Name: Days, dtype: int64

======= Month =======

1    352
3    345
2    303
Name: Month, dtype: int64

======= Years =======

2019    1000
Name: Years, dtype: int64

In [45]:
data.to_excel('Super_Market_sales.xlsx', index=False)